body { 
    font-family: sans-serif;
    margin: 20px;
    background-color: #57d1c9;


}

h1{
    text-align: center;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    margin-bottom: 10px;
}
.project-title{
    font-weight: bold;

}
.project-description{
    margin: 5px;
}
.rectangle{
    height: 250px;
    width: 505px;
    background-color: #f67280;
}
img{
    border: 1px solid #d14747;
    border-radius: 7px;
    padding: 10px;
    margin-top: 5px;
    width: 480px;
    
}